/* product.css */

.products {
  display: flex;
  /* Stack items vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 100px 0;
  gap: 10px;
  margin-bottom: 30px;
}

.container-about {
  margin-top: 0;
}

.products h2 {
  text-transform: uppercase;
  font-family: "Pacifico", cursive;
  color: black;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 15px;
}

.products h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #FF8800 0%, #FD8901 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}


.products h3 {
  font-size: 22px;
  margin: 0 0 20px;
}

.products img {
  width: 650px;
  max-width: 100%; /* Ensure the image is responsive */
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

.products p {
  line-height: 24px;
  margin: 30px 0;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .products {
    flex-direction: column; /* Stack columns on small screens */
    text-align: center; /* Center text on small screens */
    padding: 50px 0; /* Reduce top and bottom padding */
  }
  .container-about {
    margin-top: 0;
  }

  .products img {
    width: 300px;
    margin-top: 10px;
    background: #fff;
    border-right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
  }
  .text{
    max-width: 300px;
    
  }
}
