
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



.get-in-touch {
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}
h2{
  color:#D36D23 ;
  
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container .name-input,
.form-container .email-input {
  width: 100%;
}

.form-container input[type="text"],
.form-container input[type="email"] {
  padding: 10px;
  border: 1px solid #D36D23;
  border-radius: 5px;
  font-size: 14px;
  color: #D36D23;
}

textarea {
  padding: 10px;
  border: 1px solid #D36D23;
  border-radius: 5px;
  font-size: 14px;
  resize: vertical;
  height: 150px;
}

.btn-custom {
  
  background-color: #D36D23 ;
  color: #fff;
  border: 2px solid #D36D23;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  width: 100px;
  
}

.btn-custom:hover {
  background-color: #D36D23;
}



.contact-info {
  
  padding: 20px;
  
  border-radius: 10px #FD8901;
  color: #D36D23;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 400px;
  margin: 0 auto;
}

h3 {
  font-size: 24px;
  text-align: start;
  color: #D36D23;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
 
  line-height: 1.5;
  text-align: start;
}
.inputs{
  display: flex;
  gap: 5px;
}
.containers{
  display: flex;
  justify-content: space-evenly;
 
  
}


@media (max-width: 768px) {
  .get-in-touch,
  .contact-info {
    max-width: 100%;
  }
  .containers{
    display: flex;
    flex-direction: column;
    
    
  }
  .section-title{
    max-width: 300px;
  }
  .form-container{
    max-width: 300px;
  }
  .inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  .form-container .name-input,
.form-container .email-input {
  width: 100%;
}

.form-container input[type="text"],
.form-container input[type="email"] {
  padding: 10px;
  border: 1px solid #D36D23;
  border-radius: 5px;
  font-size: 14px;
  width: 280px;
}

}


@media (max-width: 1024px) {
  .get-in-touch,
  .contact-info {
    max-width: 100%;
  }

  .containers {
    flex-direction: column;
  }

  .section-title {
    max-width: 100%;
  }

  .form-container {
    max-width: 100%;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form-container .name-input,
  .form-container .email-input {
    width: 100%;
  }

  .form-container input[type="text"],
  .form-container input[type="email"] {
    padding: 10px;
    border: 1px solid #D36D23;
    border-radius: 5px;
    font-size: 14px;
    width: 96%; 
  }
}

