.values {
  font-size: 32px;
  color: #ff8800;
  text-align: center;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.value {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
 
  justify-content: space-around;
  margin: 10%;
}

.value svg {
  color: #ff8800;
  font-size: 48px;
}

.value h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #ff8800;
}

.value p {
  font-size: 16px;
  color: #777;
}


@media (max-width: 767px) {
  .values-grid {
    grid-template-columns: 1fr;
  }

  .value {
    padding: 30px;
    margin: 10%;
  }
}