/* values.css */

/* Default styles for larger screens */


.values {
  font-size: 32px;
  color: #333;
  text-align: center;
}

.values-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.value {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.value svg {
  color: #ff8800;
  font-size: 48px;
}

.value h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.value p {
  font-size: 16px;
  color: #777;
}

/* Responsive styles for smaller screens (e.g., tablets and mobile devices) */
@media (max-width: 768px) {
  .values {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .values-container {
    padding: 20px 0; /* Reduce padding for smaller screens */
  }

  .values-grid {
    flex-direction: column; /* Stack values vertically on smaller screens */
    align-items: center; /* Center align values */
  }

  .value {
    max-width: calc(100% - 20px); /* Reduce width and add some spacing */
    flex-basis: calc(100% - 20px); /* Reduce width and add some spacing */
    text-align: center; /* Center align text */
    padding: 10px; /* Adjust padding for spacing */
  }

  .value svg {
    font-size: 36px; /* Reduce icon size */
  }

  .value h3 {
    font-size: 18px; /* Adjust font size for smaller screens */
    margin-top: 15px; /* Reduce margin-top for smaller screens */
  }

  .value p {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  
}

