#team{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.team-member {
  text-align: center;
  margin-bottom: 20px;
  flex: 1;
  max-width: 300px;
}

.team-img {
  max-width: 60%;
  height: auto;
}

.team-member h4 {
  font-size: 18px;
  margin: 5px 0;
}

.team-member p {
  font-size: 14px;
  color: #777;
}

#team {
  padding: 100px 0;
}

#team h2 {
  margin: 0;
  font-size: 32px;
 
}
.meet{
  color: rgb(223, 168, 31);
}
.team-container {
  text-align: center;
  padding: 40px 0;
  background-color: #f8f8f8; 
}

.team-container h2 {
  font-size: 36px; 
  color: #ff8800; 
  margin-bottom: 20px; 
}

.team-container p {
  font-size: 18px; 
  color: #777; 
  max-width: 600px; 
  margin: 0 auto; 
}


@media screen and (max-width: 768px) {
 
}


@media screen and (max-width: 480px) {
  .team-member {
    width: 100%;
  }
  .team-member {
    width: calc(50% - 20px);
  }
  .team-container .row {
    align-items: center;
   
  }
  .meet{
    margin-left: 20px;
  }


.text  {
  font-size: 15px; 
  color: #777; 
  max-width: 220px; 
  text-align: center;
  
  margin: 0 ; 
}

}

